{% extends "layout.html" %}
{% block body %} 
<script type="text/javascript">
  $(document)
    .ready(function() {
        $('.ui.star.rating')
          .rating('disable')
        ;
    })
  ;
  // $.ajax({
  //   type: "POST",
  //   url: "/get_sketches",
  //   data: {
  //     sketch: canvasData
  //   }
  // }).done(function(res) {
  //   console.log(res);
  //   for (var i = 0; i < res["sketches"].length; i++) {
  //     $("#video-match-" + i + " > a > img").attr("src", res["sketches"][i]["img_url"]);
  //   }
  // });
</script>
<article>
	<h2 class="ui dividing header">
  		{{ name }}
  	</h2>
  	<br>
  	<h3 class="ui teal header">
  		Event Time: {{ datetime }}
  	</h3>
  	<div class="ui huge teal message">
  		{{ desc }}
  	</div>
    {% if not event_owner %}
    	<form method="POST" action="join_event">
    	   <button class="large ui teal submit button">
          Join This Event!
          <input style="display: none;" name="event_id" value="{{ event_id }}"></input>
         </button>
    	</form>
    {% else %}
      <br><br><br>
      <h2 class="ui teal header">
      Recommend Restaurants
      </h2>
      <table class="ui teal celled padded table">
        <thead>
          <tr>
          <th class="single line">Name</th>
          <th>Address</th>
          <th>Location</th>
          <th>Rating</th>
          <th>Reviews</th>
          </tr>
        </thead>
        <tbody>
          {% for restaurant_dict in restaurants %}
          <tr>
            <td>
              <h2 class="ui center aligned header">
                <a href="/restaurant?restaurant_id={{ restaurant_dict['id'] }}">
                  {{ restaurant_dict["name"] }}
                </a>
              </h2>
            </td>
            <td class="left aligned">
                {{ restaurant_dict["addr"] }}
            </td>
            <td class="single line">
                 {{ restaurant_dict["location"] }}
            </td>
            <td>
              <p>{{ restaurant_dict["rate"] }}</p>
              <div class="ui large star rating" data-rating="{{restaurant_dict['star']}}" data-max-rating="5">
              </div> 
            </td>
            <td class="single line">
                {{ restaurant_dict["rcount"] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- <form method="POST" action="find_restaurants">
        <h2 class="ui teal header">
          Choose Feature
        </h2>
        <div class="ui teal selection dropdown">
          <input type="hidden" name="feature_id">
            <i class="dropdown icon"></i>
            <div class="default text">Udecided</div>
            <div class="menu">
                {% for feature_dict in features %}
                  <div class="item" data-value="{{feature_dict['id']}}">
                    {{feature_dict["name"]}}
                  </div>
                {% endfor %}
            </div>
        </div>
        <h2 class="ui teal header">
          Choose Region
        </h2>
        <div class="ui teal selection dropdown">
          <input type="hidden" name="zipcode">
            <i class="dropdown icon"></i>
            <div class="default text">Udecided</div>
            <div class="menu">
                {% for region_dict in regions %}
                  <div class="item" data-value="{{region_dict['zipcode']}}">
                    {{region_dict["zipcode"]}}
                  </div>
                {% endfor %}
            </div>
        </div>
        <br><br><br>
        <button class="ui massive teal submit button">
          Search Restaurants!
        </button> 
      </form> -->
    {% endif %}
</article>

{% endblock %}