{% extends "layout.html" %}
{% block body %} 

<article>
	<h2 class="ui dividing header">
  		{{ name }}
  	</h2>
  	<br>
  	<h3 class="ui teal header">
  		Event Time: {{ datetime }}
  	</h3>
  	<div class="ui huge teal message">
  		{{ desc }}
  	</div>
  	<form method="POST" action="join_event">
  	   <button class="large ui teal submit button">
        Join This Event!
        <input style="display: none;" name="event_id" value="{{ event_id }}"></input>
       </button>
  	</form>
</article>

{% endblock %}