<!--   <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
 -->

{% extends "layout.html" %}
{% block body %} 

<div class="ui top fixed menu">
  <div class="item">
    <img src="static/img/logo.png">
  </div>
  <a class="item" href="/restaurant">Find Restaurants</a>
  <a class="item" href="/event">Find Events</a>
  <a class="item" href="/login">Log in / Sign up</a>
</div>
<video autoplay loop class="videoWrapper">
    <source src="static/img/background.mp4" type="video/mp4">
</video>

{% endblock %}

<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>
 -->