<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">	

    <link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/semantic/dist/components/reset.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/site.css">

	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/container.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/grid.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/header.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/image.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/menu.css">

	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/divider.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/segment.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/form.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/input.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/button.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/list.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/message.css">
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/components/icon.css">

    <title>Foodie</title>
</head>
<body>
{% block body %}
{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="static/semantic/dist/semantic.min.js"></script>
<script src="static/semantic/dist/components/form.js"></script>
<script src="static/semantic/dist/components/transition.js"></script>
</html>
