<!-- {% extends "layout.html" %}
{% block body %}
<div class="ui three buttons">
  <button class="ui button">One</button>
  <button class="ui button">Two</button>
  <button class="ui button">Three</button>
</div>
{% endblock %} -->


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" 	href="semantic/dist/style.css">
    <title>Food Finder</title>
</head>
<body>
	<i class="child icon"></i>
	<i class="doctor icon"></i>
	<i class="handicap icon"></i>
	<i class="spy icon"></i>
	<i class="student icon"></i>
	<i class="user icon"></i>
	<i class="users icon"></i>

<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>

